Microsoft Visual Studio Solution File, Format Version 12.00 
3 # Visual Studio 2013 
4 VisualStudioVersion = 12.0.31101.0 
5 MinimumVisualStudioVersion = 10.0.40219.1 
6 Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "xWard", "xWard\xWard.csproj", "{E8329448-88E0-4A56-A1CB-EA02C886B1A6}" 
7 EndProject 
8 Global 
9 	GlobalSection(SolutionConfigurationPlatforms) = preSolution 
10 		Debug|Any CPU = Debug|Any CPU 
11 		Release|Any CPU = Release|Any CPU 
12 	EndGlobalSection 
13 	GlobalSection(ProjectConfigurationPlatforms) = postSolution 
14 		{E8329448-88E0-4A56-A1CB-EA02C886B1A6}.Debug|Any CPU.ActiveCfg = Debug|Any CPU 
15 		{E8329448-88E0-4A56-A1CB-EA02C886B1A6}.Debug|Any CPU.Build.0 = Debug|Any CPU 
16 		{E8329448-88E0-4A56-A1CB-EA02C886B1A6}.Release|Any CPU.ActiveCfg = Release|Any CPU 
17 		{E8329448-88E0-4A56-A1CB-EA02C886B1A6}.Release|Any CPU.Build.0 = Release|Any CPU 
18 	EndGlobalSection 
19 	GlobalSection(SolutionProperties) = preSolution 
20 		HideSolutionNode = FALSE 
21 	EndGlobalSection 
22 EndGlobal 
